/* Override */
* {
    border-radius: .2rem!important;
}
#filterContent form {
    display: inline-block;
}
#filterContent > div:first-child > div:first-child {
    display: inline-block;
}
#SemanaApontamentos {
    cursor: default!important;
}
.ContentTable {
    margin-top: inherit;
}
.emptySlot,
.FilledSlot,
.LastSlot {
    height: inherit;
    padding: 5px;
}
.FilledSlot span {
    margin: inherit!important;
}
