
/* Queiroz.js CSS */

.qz-text-center {
    text-align: center;
}
.qz-text-left {
    text-align: left;
}
.qz-text-primary { /* change primary for brown */
    color: #a52a2a;
}
.qz-text-golden {
    color: #b8860b;
}
.qz-text-green {
    color: #008000;
}
.qz-text-teal {
    color: #008080;
}
.qz-text-black {
    color: #000000;
}
.qz-text-purple {
    color: #663399;
}
.qz-text-orange {
    color: #e27300;
}
.qz-box {
    padding: 5px 10px;
    margin: 5px 1px;
    border: darkgrey 1px solid;
    min-width: 60px;
}
.qz-box-compact {
    min-width: auto;
}
.qz-box-inline {
    display: inline-block;
}
.qz-box-head {
    float: right;
}
.qz-box-icon {
    min-width: auto;
    font-size: 25px;
    border: initial;
}
.qz-box-muted {
    background-color: lightgray;
}
.qz-box .qz-box-content {
    vertical-align: middle;
}
.qz-help-text {
    font-size: 10px;
}
.qz-input-time {
    height: 13px;
    width: 45px;
    text-align: center;
    padding: 2px;
    margin: 5px 0;
}
.qz-input-error {
    border-color: red;
}
.qz-fa {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.qz-fa-se {
    float: right;
    margin: -10px -8px 0px 0px;
}
.qz-fa-sw {
    float: left;
    margin: -10px 0px 0px -8px;
}

/* Queiroz.js DayOff */

.qz-toggle {
    margin-top: 10px;
}
.fa-toggle-on {
    color: green;
}
.fa-toggle-off {
    color: grey;
}

/* Queiroz.js Event */

.js-show {
    display: block;
}
.js-hide {
    display: none;
}

/* Queiroz.js TimeOn */

.fa-chevron-up, .fa-chevron-down {
    margin: 0 2.5px;
}

/* Queiroz.js Dropdown */

.qz-dropdown {
    position: relative;
}
.qz-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: #a9a9a9 1px solid;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 2px;
    z-index: 1024;
}
.qz-dropdown:hover .qz-dropdown-content {
    display: block;
}
.qz-dropdown-content p {
    font-weight: normal;
    padding: 5px;
    font-size: 11px;
}
.qz-dropdown-content p:hover {
    background-color: #f0e68c;
}
.qz-menu {
    min-width: 200px;
    left: -160px;
}
.qz-menu-item-icon {
    float: right;
    margin: -1px;
}
.qz-menu-item-anchor {
    color: inherit;
    cursor: inherit;
}
.qz-column-menu {
    margin-right: 10px;
    vertical-align: text-bottom;
    display: inline;
}

/* Queiroz.js Modal */

.qz-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1024;
    background-color: rgba(0, 0, 0, 0.5);
}

.qz-modal-dialog {
    position: relative;
    width: 900px;
    margin: 30px auto;
}

.qz-modal-content {
    position: relative;
    background-color: white;
    background-clip: padding-box;
    border-radius: 5px;
}

.qz-modal-header {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    font-size: 16px;
}

.qz-modal-close {
    float: right;
    cursor: pointer;
    background: 0 0;
    border: 0;
    padding: 0;
    color: silver;
}

.qz-modal-body {
    padding: 10px;
}

.qz-modal-footer {
    padding: 10px;
    border-top: 1px solid lightgray;
    text-align: center;
}
