
/* Queiroz.js CSS */

.qz-text-center {
    text-align: center;
}
.qz-text-left {
    text-align: left;
}
.qz-text-bold {
    font-weight: 700!important;
}
.qz-text-primary { /* change primary for brown */
    color: #a52a2a;
}
.qz-text-golden {
    color: #b8860b;
}
.qz-text-green {
    color: #008000;
}
.qz-text-teal {
    color: #008080;
}
.qz-text-black {
    color: #000000;
}
.qz-text-purple {
    color: #663399;
}
.qz-text-orange {
    color: #e27300;
}
.qz-text-grey {
    color: grey;
}
.qz-text-line-through {
    text-decoration: line-through;
}
.qz-cursor-pointer {
    cursor: pointer;
}
.qz-box {
    padding: 5px 10px 4px;
    margin: 2px 2px;
    border: darkgrey 1px solid;
    min-width: 60px;
}
.qz-box-compact {
    min-width: auto;
}
.qz-box-inline {
    display: inline-block;
}
.qz-box-period {
    display: inline-block;
    vertical-align: top;
    margin-top: -2px;
}
.qz-box-period > .qz-box {
    min-width: 100px;
}
.qz-box-head {
    float: right;
}
.qz-box-icon {
    min-width: auto;
    font-size: 25px;
    border: initial;
}
.qz-box-muted {
    background-color: lightgray;
}
.qz-box .qz-box-content {
    vertical-align: middle;
}
.qz-box-with-fa-se {
    margin: 0 0 0 5px;
}
.qz-help-text {
    font-size: 10px;
}
.qz-input-time {
    height: 13px;
    width: 45px;
    text-align: center;
    padding: 2px;
    margin: 5px 0;
}
.qz-input-error {
    border-color: red;
}
.qz-fa {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.qz-fa-se {
    float: right;
    margin: -10px -8px 0px 0px;
}
.qz-fa-sw {
    float: left;
    margin: -10px 0px 0px -8px;
}
.qz-fa-se2 {
    float: right;
    margin: 0px -8px 0px 0px;
}
.qz-fa-sw2 {
    float: left;
    margin: 0px 0px 0px -8px;
}
.qz-fa-se3 {
    float: right;
    margin: 5px -8px 0px 0px;
}

/* Queiroz.js DayOff */

.qz-toggle {
    margin-top: 10px;
}
.fa-toggle-on {
    color: green;
}
.fa-toggle-off {
    color: grey;
}

/* Queiroz.js Event */

.js-show {
    display: block;
}
.js-hide {
    display: none;
}

/* Queiroz.js Dropdown */

.qz-dropdown {
    position: relative;
}
.qz-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: #a9a9a9 1px solid;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 2px;
    z-index: 1024;
}
.qz-dropdown:hover .qz-dropdown-content {
    display: block;
}
.qz-dropdown-content p {
    font-weight: normal;
    padding: 5px;
    font-size: 11px;
}
.qz-dropdown-content p:hover {
    background-color: #f0e68c;
}
.qz-menu {
    min-width: 200px;
    left: -160px;
}
.qz-menu-item-icon {
    margin-right: 4px;
    vertical-align: text-top;
}
.qz-menu-item-icon-rg {
    float: right;
    margin: -1px;
}
.qz-menu-item-anchor {
    color: inherit;
    cursor: inherit;
}
.qz-column-menu {
    margin-right: 10px;
    vertical-align: text-bottom;
    display: inline;
}

/* Queiroz.js Modal */

.qz-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1024;
    background-color: rgba(0, 0, 0, 0.5);
}

.qz-modal-dialog {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

.qz-modal-content {
    position: relative;
    background-color: white;
    background-clip: padding-box;
    border-radius: 5px;
}

.qz-modal-header {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    font-size: 16px;
}

.qz-modal-close {
    float: right;
    cursor: pointer;
    background: 0 0;
    border: 0;
    padding: 0;
    color: silver;
}

.qz-modal-body {
    padding: 10px;
    height: 600px;
    max-height: 100%;
    overflow: auto;
}

.qz-modal-footer {
    padding: 10px;
    border-top: 1px solid lightgray;
    text-align: center;
}

/* Queiroz.js Table */

table {
    border-collapse: collapse;
}

.qz-table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.qz-table th,
.qz-table td {
    padding: 0.3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.qz-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.qz-table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.qz-table tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
 }